---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogPost from "@components/BlogPost.astro";

const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
);
const pageTitle = "Blog LMTF";
console.log(allPosts);
---

<BaseLayout pageTitle={pageTitle}>
    <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
    <ul>
        {
            allPosts.map((post: any) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
